.btn {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 15px;
    width: 250px;
    height: 50px;
    outline: none;

    & + & {
        margin-left: 10px;
    }

    &-border-white {
        color: white;
        border: 1px solid;

        &:hover {
            color: white;
            border: 1px solid;
        }
    }

    &-blue {
        background: linear-gradient(to right, $blue-500, $blue-400);
        color: white;

        &:hover {
            color: white;
        }
    }

    &-border-blue {
        background: transparent;
        border: 1px solid $blue-400;
    }
}