.btn {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 15px;
    width: 250px;
    height: 50px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &-border-white {
        color: white;
        border: 1px solid;

        &:hover {
            color: white;
            border: 1px solid;
        }
    }
    &-blue {
        background: linear-gradient(to right, $blue-500, $blue-400);
        color: white;

        &:hover {
            color: white;
        }
    }
}