.page-header {
    padding: 12px 15px 20px;
    border-top: 3px solid $blue-500;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 165px;

        img {
            width: 100%;
        }
    }

    &__tagline {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-left: 30px;
    }
}