.navigation {
    background-color: $blue-400;
    padding: 10px 0;
    margin-top: 15px;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            text-transform: uppercase;
            line-height: 28px;

            a {
                color: #fff;
                font-weight: 500;
            }

            &:hover, &.active {
                a {
                    border-bottom: 1px solid;
                    padding-bottom: 2px;
                }
            }

            &.submenu {
                position: relative;

                &:after {
                    content: '';
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    right: -20px;
                    top: 7px;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    background-size: 100%;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMS45OTUgNTExLjk5NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTExLjk5NSA1MTEuOTk1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiPjxnPjxnPgoJPGc+CgkJPHBhdGggZD0iTTM4MS4wMzksMjQ4LjYyTDE0Ni4zNzMsMy4yODdjLTQuMDgzLTQuMjI5LTEwLjgzMy00LjQxNy0xNS4wODMtMC4zMzNjLTQuMjUsNC4wNzMtNC4zOTYsMTAuODIzLTAuMzMzLDE1LjA4MyAgICBMMzU4LjU2LDI1NS45OTVMMTMwLjk1Niw0OTMuOTU0Yy00LjA2Myw0LjI2LTMuOTE3LDExLjAxLDAuMzMzLDE1LjA4M2MyLjA2MywxLjk3OSw0LjcyOSwyLjk1OCw3LjM3NSwyLjk1OCAgICBjMi44MTMsMCw1LjYwNC0xLjEwNCw3LjcwOC0zLjI5MkwzODEuMDM5LDI2My4zN0MzODQuOTc3LDI1OS4yNDUsMzg0Ljk3NywyNTIuNzQ1LDM4MS4wMzksMjQ4LjYyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgoJPC9nPgo8L2c+PC9nPiA8L3N2Zz4=)
                }

                .dropdown {
                    position: absolute;
                    flex-direction: column;
                    z-index: 1;
                    background: linear-gradient(to right, $blue-500, $blue-400 70%, $blue-500);
                    padding: 20px 15px;
                    border-radius: 5px;
                    top: 35px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
                    box-shadow: 0 0 10px 2px rgba($blue-100, 0.5);

                    li {
                        white-space: nowrap;
                        margin-left: 0;
                        line-height: 20px;

                        &.active {
                            position: relative;
                            padding-left: 30px;

                            &:before {
                                content: '';
                                width: 20px;
                                height: 2px;
                                background-color: white;
                                position: absolute;
                                top: 10px;
                                left: 0;
                            }
                        }

                        a {
                            text-transform: none;
                            font-weight: 400;
                        }
                    }

                    li + li {
                        margin-top: 10px;
                    }
                }

                &:hover {
                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        li + li {
            margin-left: 55px;
        }
    }
}