.tabs {
    @media (max-width: 767px) {
        display: none;
    }
}
.nav {
    &-tabs {
        justify-content: space-between;
        border: none;
    }

    &-fill &-item {
        width: 24%;
        flex: initial;
    }

    &-item {
        padding: 17px 10px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        color: $gray-500;

        @media (max-width: 991px) {
            font-size: 13px;
        }
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $gray-900;
    background-color: white;
    border-color: transparent;
    position: relative;

    &:before {
        content: '';
        width: 28px;
        height: 2px;
        background-color: #0b71bb;
        position: absolute;
        bottom: 12px;
        left: calc(50% - 14px);
    }
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.tab-content {
    background-color: white;
    padding: 40px 60px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 991px) {
        padding: 30px;
        font-size: 16px;
    }

    a {
        color: $blue-400;
        border-bottom: 1px dashed $blue-400;
    }
}

.tabs-blog {
    .nav {
        @media (max-width: 575px) {
            flex-direction: column;
        }

        &-item {
            width: 32%;
            flex: initial;
            border-radius: 5px;
            font-weight: 700;
            font-size: 14px;
            padding: 13px 10px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

            @media (max-width: 575px) {
                width: 100%;
                margin-bottom: 15px;
                font-size: 16px;
            }
        }
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        &:before {
            display: none;
        }
    }

    .tab-content {
        background-color: transparent;
        padding: 0;

        @media (max-width: 575px) {
            margin-top: 15px;
        }
    }

    .tab-grid {
        margin-top: 40px;
        display: none;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 30px;

        @media (max-width: 575px) {
            margin-top: 15px;
        }

        &.active {
            display: grid;
        }

        &__item {
            background-color: white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            overflow: hidden;

            &-image {
                height: 150px;
                position: relative;

                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -o-object-fit: cover;
                    object-fit: cover;
                    height: 100%;
                }
            }

            &-content {
                padding: 10px 20px;

                a {
                    color: $gray-900;
                    border-color: $gray-500;
                }

                p {
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 18px;
                }
            }

            &-name {
                font-size: 14px;
                font-weight: 700;
                text-align: center;
            }
        }
    }
}

.tabs-mobile {
    display: none;
    margin-top: 20px;

    @media (max-width: 767px) {
        display: block;
    }

    &__item {
        background: white;
        border-radius: 5px;

        &.active {
            .tabs-mobile__item-title:before {
                transform: rotate(180deg);
            }

            .tabs-mobile__item-content {
                display: block;
            }
        }

        & + & {
            margin-top: 10px;
        }

        &-title {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 60px;
            position: relative;

            &:after {
                content: '';
                width: 18px;
                height: 15px;
                position: absolute;
                right: 20px;
                top: 22px;
                background-size: 100%;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDkwLjY1NiA0OTAuNjU2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0OTAuNjU2IDQ5MC42NTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNDg3LjUzNiwxMjAuNDQ1Yy00LjE2LTQuMTYtMTAuOTIzLTQuMTYtMTUuMDgzLDBMMjQ1LjMzOSwzNDcuNTgxTDE4LjIwMywxMjAuNDY3Yy00LjE2LTQuMTYtMTAuOTIzLTQuMTYtMTUuMDgzLDAgICAgYy00LjE2LDQuMTYtNC4xNiwxMC45MjMsMCwxNS4wODNsMjM0LjY2NywyMzQuNjY3YzIuMDkxLDIuMDY5LDQuODIxLDMuMTE1LDcuNTUyLDMuMTE1czUuNDYxLTEuMDQ1LDcuNTMxLTMuMTM2bDIzNC42NjctMjM0LjY2NyAgICBDNDkxLjY5NiwxMzEuMzY4LDQ5MS42OTYsMTI0LjYwNSw0ODcuNTM2LDEyMC40NDV6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiMzMDhEQ0IiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==)
            }

            &:before {
                content: '';
                width: 28px;
                height: 2px;
                background-color: #0b71bb;
                position: absolute;
                bottom: 12px;
                left: calc(50% - 14px);
            }
        }

        &-content {
            padding: 10px;
            display: none;
        }
    }
}