/* base
   ========================================================================== */

body {
    color: $gray-900;
    background-color: #f9f9f9;
    font-family: 'Exo 2', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    overflow-x: hidden;
    padding-top: 165px;

    @media (max-width: 767px) {
        padding-top: 77px;
    }
}

a {
    border: none;
    text-decoration: none;
    color: $gray-900;

    &:hover {
        color: $gray-900;
        text-decoration: none;
    }
}

::-webkit-input-placeholder {
    color: $gray-500;
}

:-ms-input-placeholder {
    color: $gray-500;
}

::-ms-input-placeholder {
    color: $gray-500;
}

::placeholder {
    color: $gray-500;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    position: relative;

    @media (max-width: 1199px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.bold {
    font-weight: 700;
}

.common-title-h2 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding-left: 35px;

    &:before {
        content: '';
        width: 28px;
        height: 2px;
        background-color: #0b71bb;
        position: absolute;
        top: 25px;
        left: 0;

        @media (max-width: 767px) {
            top: 15px;
        }
    }

    @media (max-width: 767px) {
        font-size: 24px;
    }

    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.common-title-h3 {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 35px;

    &:before {
        content: '';
        width: 28px;
        height: 2px;
        background-color: #0b71bb;
        position: absolute;
        top: 15px;
        left: 0;

        @media (max-width: 767px) {
            top: 10px;
        }
    }

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.common-title-h4 {
    font-size: 20px;
    font-weight: 700;

    @media (max-width: 767px) {
        font-size: 16px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}

.common-title-h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.common-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 35px;
    width: 70%;

    @media (max-width: 767px) {
        font-size: 13px;
    }
}

.common-text {
    font-size: 12px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    user-select: none;
    line-height: 1.5;
    padding: 10px 15px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    @media (max-width: 1024px) {
        font-size: 13px;
    }
}

.link {
    color: $blue-400;
    border-bottom: 1px dashed $blue-400;
    transition: border-color .25s ease;

    &:hover {
        border-bottom-color: transparent;
    }
}

.image-bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: 991px) {
        display: none;
    }
}

.content {
    font-size: 18px;

    @media (max-width: 767px) {
        font-size: 13px;
    }

    p {
        line-height: 24px;
    }

    ul, ol {
        padding-left: 20px;
        display: block;
        overflow: hidden;
        position: relative;
    }

    img {
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
        max-width: 100%;
        max-height: 100%;
    }
}

.image-float {
    width: 260px;
    height: 260px;
    float: left;
    position: relative;
    margin-right: 20px;

    @media (max-width: 575px) {
        float: initial;
        margin-bottom: 20px;
        width: 100%;
    }

    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
    }
}

.dashed {
    border-bottom: 1px dashed;
}

.development {
    p {
        font-size: 14px;
        margin: 0;
    }
}

.download-container {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
        }

        li + li {
            margin-top: 10px;
        }

        a {
            font-size: 18px;
            border-bottom: 1px dashed $gray-500;
            font-family: 'Roboto', sans-serif;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        i {
            font-size: 31px;
            color: #0072bf;
            margin-right: 10px;

            @media (max-width: 767px) {
                font-size: 28px;
            }
        }
    }
}

.tablet-hidden {
    @media (max-width: 991px) {
        display: none;
    }
}

.mobile-hidden {
    @media (max-width: 767px) {
        display: none;
    }
}

.mobile-visible {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}

.expand {
    &-label {
        @media (max-width: 767px) {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDkwLjY1NiA0OTAuNjU2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0OTAuNjU2IDQ5MC42NTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNDg3LjUzNiwxMjAuNDQ1Yy00LjE2LTQuMTYtMTAuOTIzLTQuMTYtMTUuMDgzLDBMMjQ1LjMzOSwzNDcuNTgxTDE4LjIwMywxMjAuNDY3Yy00LjE2LTQuMTYtMTAuOTIzLTQuMTYtMTUuMDgzLDAgICAgYy00LjE2LDQuMTYtNC4xNiwxMC45MjMsMCwxNS4wODNsMjM0LjY2NywyMzQuNjY3YzIuMDkxLDIuMDY5LDQuODIxLDMuMTE1LDcuNTUyLDMuMTE1czUuNDYxLTEuMDQ1LDcuNTMxLTMuMTM2bDIzNC42NjctMjM0LjY2NyAgICBDNDkxLjY5NiwxMzEuMzY4LDQ5MS42OTYsMTI0LjYwNSw0ODcuNTM2LDEyMC40NDV6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiMzMDhEQ0IiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==);
            width: 25px;
            height: 25px;
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: auto;
            display: block;
            margin-top: -33px;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            z-index: 2;
            position: relative;
        }

        &.active {
            @media (max-width: 767px) {
                transform: rotate(180deg);
            }
        }
    }
    &-content {
        @media (max-width: 767px) {
            height: 100px;
            overflow: hidden;
            position: relative;
        }

        &:after {
            @media (max-width: 767px) {
                content: '';
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(to bottom, rgba(#f9f9f9, 0.27) 20%, rgba(#f9f9f9, 0.78) 20%, #f9f9f9 80%, #f9f9f9 80%);
            }
        }
    }
    &-input {
        opacity: 0;
        position: absolute;
        pointer-events: none;

        &:checked + .expand-content {
            @media (max-width: 767px) {
                height: auto;
            }

            &:after {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}
